apiVersion: apps/v1
kind: Deployment
metadata:
  name: user-service
spec:
  replicas: 1
  selector:
    matchLabels:
      app: user-service
  template:
    metadata:
      labels:
        app: user-service
    spec:
      containers:
        - name: user-service
          image: daegon7/msa-user-app:latest
          ports:
            - containerPort: 8081
          env:
            - name: EUREKA_URI
              value: http://eureka-server:8761/eureka
